.icon-search {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 1rem;
  height: 1rem;
  border: 0.125rem solid;
  border-radius: 100%;
  margin-left: -0.25rem;
  margin-top: -0.25rem;
}

.icon-search::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 0.1875rem;
  width: 0.125rem;
  height: 0.5rem;
  background: currentColor;
  transform: rotate(-45deg);
  top: 0.625rem;
  left: 0.75rem;
}
