.pharmacy-card {
  width: 17.5rem;
  height: 10rem;
  border-radius: 1rem;
  list-style: none;
  padding: 1.5rem;
  background-color: #1f2538;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;
}

.pharmacy-card__row {
  display: flex;
  gap: 0.5rem;
  height: 3rem;
}

.pharmacy-card__header {
  justify-content: space-between;
  align-items: center;
}

.pharmacy-card__body {
  justify-content: space-between;
}

.pharmacy-card__capital-letter {
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  padding: 0.25rem;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pharmacy-card__info {
  width: 70%;
}

.pharmacy-card__name {
  font-size: 1rem;
  font-weight: 600;
}

.pharmacy-card__location {
  font-size: 0.75rem;
}

.pharmacy-card__settings {
  align-self: flex-start;
  user-select: none;
}

.pharmacy-card__employees,
.pharmacy-card__reports {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.pharmacy-card__employee {
  display: flex;
}

.pharmacy-card__employee-label,
.pharmacy-card__reports-label {
  font-size: 0.75rem;
  font-weight: 400;
  opacity: 0.65;
}

.pharmacy-card__employees-avatar {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 0.0625rem solid #fff;
}

.pharmacy-card__reports-number {
  font-weight: 700;
  font-size: 1.5rem;
  text-align: right;
}
