.button {
  border: none;
  height: 2.5rem;
  width: 7.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.primary {
  background: #597ef7;
  color: #fff;
}
