header {
  display: flex;
  width: 100%;
  height: 4rem;
  background-color: #2b3248;
  align-items: center;
  box-shadow: 0px 1px 2px 0px #000000;
}

header h1 {
  font-size: 1.5rem;
  width: 14.7rem;
  padding-left: 1.5rem;
}

.header__actions {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-right: 1rem;
}

.header__actions .search {
  margin-left: 1rem;
}

.header__account {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  align-items: center;
}

.header__actions .account-menu-button {
  height: 100%;
  width: 11rem;
  cursor: pointer;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.header__username {
  font-size: 1rem;
  font-weight: 400;
}

.header .separator {
  opacity: 0.65;
}
