.main-view {
  width: 100%;
  padding: 1rem 1.5rem;
}

.main-view__header,
.main-view__subheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-view__header {
  margin-bottom: 1rem;
}

.main-view__header__caption {
  font-size: 1.75rem;
  font-weight: 400;
}
