html {
  color: #fff;
  background: #2b3248;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
input,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 90rem;
  margin: 0 auto;
}

main {
  display: flex;
}
